<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js" defer></script>
  </head>
  <body class="homebody">
    <nav>
      <a href="/" class="active">Home</a>
      <a href="/whatson.html" class="right">What's On</a>
      <a href="/review.html" class="right">Leave a Review</a>
    </nav>
    <header>
      <h1>Film Reviews</h1>
    </header>
    <main>
      <p>
        Welcome to the best film review site of all time! Here, cinema buffs
        just like you can discuss the biggest blockbusters of our time. Start by
        seeing <a href="/whatson.html">what&rsquo;s on</a>, and then
        <a href="/review.html">share your thoughts</a>!
      </p>
      <div id="reviewList"></div>
    </main>
  </body>
</html>
