<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js" defer></script>
  </head>
  <body class="homebody">
    <nav>
      <a href="/">Home</a>
      <a href="/whatson.html" class="right">What's On</a>
      <a href="/review.html" class="right active">Leave a Review</a>
    </nav>
    <header>
      <h1>Leave a Review</h1>
    </header>
    <main>
      <p>Select a film and review it.</p>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" />
      </form>
    </main>
  </body>
</html>
