<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js" defer></script>
  </head>
  <body class="homebody">
    <nav>
      <a href="/">Home</a>
      <a href="/whatson.html" class="right">What's On</a>
      <a href="/review.html" class="right active">Leave a Review</a>
    </nav>
    <header>
      <h1>Leave a Review</h1>
    </header>
    <main>
      <p>Select a film and review it.</p>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" />
        <br />
        <label for="film-select">Film:</label>
        <select name="film-select" id="filmSelect">
          <option value="">Loading films...</option>
        </select>
        <br />
        <label for="review">Review:</label>
        <br />
        <textarea name="review" id="review" rows="4" cols="50"></textarea>
        <br />
        <button id="submitReview" type="submit">Post Review</button>
      </form>
    </main>
  </body>
</html>
