<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js" defer></script>
  </head>
  <body class="whatsonbody">
    <nav>
      <a href="/index.html">Home</a>
      <a href="/whatson.html" class="active right">What's On</a>
      <a href="/review.html" class="right">Leave a Review</a>
    </nav>
    <header>
      <h1>What's On</h1>
    </header>
    <main>
      <table id="whatson">
        <tr>
          <th>Film Name</th>
          <th>Genre</th>
        </tr>
      </table>
    </main>
  </body>
</html>
