/* styles */
/* called by your view template */

body {
  background: url("/GetImage.png");
  color: rgb(255, 255, 255);
}

nav {
  background-color: #444444;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #222;
}

nav a.active {
  background: #fb0092;
  font-weight: bold;
}
nav a.right {
  float: right;
}