/* styles */
/* called by your view template */

body {
  background: black;
  color: rgb(255, 255, 255);
  margin: 0;
}

nav {
  background-color: #444444;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #222;
}

nav a.active {
  background: #fb0092;
  font-weight: bold;
}
nav a.right {
  float: right;
}

header, main {
  margin: 16px;
}